@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  background: #000000;
  color: #171717;
  font-family: 'Inter', sans-serif;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide {
  animation: slide 15s linear infinite;
}

.custom-text {
  font-family: 'Bowlby One', cursive;
  font-weight: 900;
  font-size: 75px;
  line-height: 89%;
  letter-spacing: -2%;
  text-align: center;
}
